body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}

.app {
	max-width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;

	h1 {
		text-align: center;
		font-size: 60px;
	}

	.weatherizr-city {

		padding: 20px;
		border: 1px solid #ccc;
		margin-bottom: 10px;

		.weather-entry {

			display: inline-block;
			width: 200px;

			.icon {
				margin-left: auto;
				margin-right: auto;
				display: block;
			}

		}
	}
}